# OS
.DS_Store

# Env
.env

# Logs
*.log

# WordPress runtime
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/debug.log
wp-content/backup-db/
wp-content/backups/

# WordPress plugins
wp-content/plugins/
!wp-content/plugins/index.php

# WordPress core
wp-admin/
wp-includes/
wp-*.php
xmlrpc.php

# WordPress config & sensitive files
wp-config.php
wp-config-local.php
wp-config-production.php
*.sql
*.sql.gz
*.sql.bz2

# Node / Vite
node_modules/
wp-content/themes/moehser-portfolio/assets/dist/
wp-content/themes/moehser-portfolio/.vite/


